/*Dashboard css for streamlit version=1.25

/* Header */
header.css-18ni7ap.e13qjvis2 {
    margin-top: -3rem;
}

/*Main Page*/
section.main.css-uf99v8.e1g8pov65 {
    margin-top: -5rem;
}

/*St toolbar*/
.css-14xtw13.e13qjvis0 {
    margin-top: 3rem;
}

/*sidebar*/
section.css-vk3wp9.e1akgbir11 {
    margin-top: -2px;
    background-color: rgb(26, 134, 235);
    color: white;
  
}


/*navbar*/
.css-pkbazv {
    color: rgb(249 249 249);}
.css-17lntkn {
    color: rgb(251 251 251 / 97%);}

/*navbar hover*/
a.css-nziaof.e1akgbir6 {
    background-color: blue;
}

/*button*/
button.css-1umgz6k.e1ewe7hr10 {
    background-color: rgb(26, 134, 235);
    color: white;
}
button.css-1umgz6k.e1ewe7hr5 {
    background-color: rgb(26, 134, 235);
    color: white;
}
.css-1umgz6k:hover {
    border-color: rgb(255 254 254);}