.css-fg4pbf.e14zl3901{
    background: #F0F2F6;
}
.css-ffhzg2.eczokvf1 {
    background: rgb(14, 17, 23);
}
/* Header css*/
.css-18ni7ap.e13qjvis2 {
    margin-top: -6rem;
}
/* Header Night-mode CSS*/
.css-1avcm0n.e8zbici2 {
    margin-top: -6rem;
}
/*edge-css*/
.css-y4qlto.e1fqkh3o0 {
    top: 1.5rem;
    left: 1.25rem;
}
.css-rrvsjx.e1fqkh3o0 {
    top: 1.5rem;
    left: 2.25rem;
}
.css-renyox.e1fqkh3o1{
    top: 1.5rem;
    left: 2.25rem;
}
.css-163ttbj.e1fqkh3o11 {
    width: 4rem;
}
/* main page CSS*/
.css-uf99v8.e1g8pov65 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 0rem;
    box-shadow: 0 23px 20px -24px hsl(219deg 37% 18% / 24%);
    
}
.css-k1vhr4.egzxvld3 {
    margin-top: 1rem;
    background-color: white;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 23px 20px -24px rgba(22,31,48,0,24);
}

/* sidebar and main page gap*/
.css-1wrcr25.egzxvld4 {
    gap: 1rem;

}
/* sttoolbar css*/
.css-14xtw13.e13qjvis0
{
    margin-right: 0rem;
    top: 6rem;
}
.css-1rs6os.edgvbvh3 {
    margin-top: 7rem;
    color: black;
}
/* header top margin*/
.css-18ni7ap.e8zbici2
{
    top: -45px;
}
/* Sidebar width and margin*/
.css-6qob1r.e1akgbir3{
    border-radius: 0rem;
    width: 12.5rem;
    background-color: white;
    

}
.css-1ope8sv.e1fqkh3o4 {
    border-radius: 0rem;
    width: 13rem;
    background-color: white;
}

/* Home Navigationbar position :initial*/
.css-79elbk.e1fqkh3o8 {
    position: initial;
    padding: 0rem;
}
/*
.css-wjbhl0.e1fqkh3o7 {
    padding: 0rem;
}
.css-79elbk.e1fqkh3o10
{
    position: initial;
}
.css-hied5v.e1fqkh3o9
{
    padding-top: 5rem;
}
*/
.css-1avcm0n.e8zbici2
{
    height: -0.125rem;
}
.css-1p1nwyz.e1tzin5v3
{
    margin-top: -10px;
}
/*user profile css*/
.css-1fcdlhc.e1s6o5jp0 {
    height:0rem;
    width: 7rem;
    margin-top: -139px;
    margin-left: 15.5rem;
}


.css-1cpxqw2:hover {
    border-color: rgb(249 248 248);
    color: rgb(252, 252, 252);
    background-color: rgb(83, 83, 236);
}

.css-1cpxqw2:active {
    border-color: rgb(249 248 248);
    color: rgb(252, 252, 252);
    background-color: rgb(83, 83, 236);
}

.css-1cpxqw2.edgvbvh9
{   
    color: white;
    background-color:rgb(83, 83, 236);
}
.css-1r6slb0.e1tzin5v2 {
    margin-top: 8rem;
}
.css-qri22k.egzxvld0 {
    visibility: hidden;
}
